@font-face {
	font-family: 'HelveticaNeueRoman';
	src: url('../assets/fonts/Helvetica\ Neue\ CE\ 55\ Roman.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../assets/fonts/HelveticaNeue.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeueBold';
	src: url('../assets/fonts/helvetica-ce-bold.ttf');
	font-display: swap;
}

body {
	font-family: HelveticaNeue;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}

figure {
	margin: 0;
}

a:hover,
a {
	text-decoration: none;
	outline: 0;
}

.pan,
.pot,
.pot-2,
.spoon,
.fork,
.fork-knife,
.wok,
.wok-2 {
	display: none;

	@media all and (min-width: 960px) {
		display: block;
	}
}

.pan {
	.parallax-inner {
		transform: translate3d(-78.7411%, 1.25887%, 0px);
	}

	position: relative;
	z-index: 1;
	width: 300px;

	img {
		position: absolute;
		margin-top: -90%;
	}
}

.pot {
	float: right;
	position: relative;
	z-index: 1;
	width: 500px;

	.parallax-inner {
		transform: translate3d(117.902%, 1.25887%, 0px);
	}

	img {
		position: absolute;
		margin-top: -90%;
	}
}

.pot-2 {
	position: relative;
	z-index: 1;
	width: 350px;

	.parallax-inner {
		transform: translate3d(-79.7892%, 80.0703%, 0px);
	}

	img {
		position: absolute;
		margin-top: -30%;
	}
}

.fork {
	float: right;
	position: relative;
	z-index: 2;
	width: 250px;

	.parallax-inner {
		transform: translate3d(79.4108%, 49.7858%, 0px);
	}

	img {
		position: absolute;
		margin-top: -30%;
	}
}

.spoon {
	position: relative;
	z-index: 1;
	width: 200px;

	.parallax-inner {
		transform: translate3d(-49.693%, 0%, 0px);
	}

	img {
		position: absolute;
		margin-top: -150%;
	}
}

.fork-knife {
	float: right;
	position: relative;
	z-index: 2;
	width: 500px;

	.parallax-inner {
		transform: translate3d(49.2904%, 0%, 0px);
	}

	img {
		position: absolute;
		margin-top: -80%;
		margin-left: 15%;
	}
}

.wok {
	position: relative;
	z-index: 2;
	width: 500px;

	.parallax-inner {
		transform: translate3d(-38.2635%, 0%, 0px);
	}

	img {
		position: absolute;
		margin-left: -80%;
		margin-top: 50%;
	}
}

.wok-2 {
	float: right;
	position: relative;
	z-index: 2;
	width: 600px;

	.parallax-inner {
		transform: translate3d(79.3184%, 0%, 0px);
	}

	img {
		position: absolute;
		margin-left: 30%;
	}
}
button {
	cursor: pointer;
	border: none;
}

button:focus {
	outline: 0;
}

article {
	overflow: hidden;
}

.popup-content {
	width: 80% !important;
	padding: 0 !important;
	border: none !important;
}

.map-markers__mark {
	height: 60px;
	width: 50px;
	cursor: pointer;
	position: absolute;
}

.mb0 {
	margin-bottom: 0 !important;
}

.waw-sec-title h2 {
	font-size: 38px;
	color: #676260;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-family: Montserrat;
	font-weight: 700;
}

.waw-sec-content-main {
	text-align: center;
}

.w-c-box-main {
	margin-bottom: 50px;

	.function {
		color: #676260;
		font-style: italic;
		font-weight: normal;
		display: block;
	}

	h3 {
		font-size: 30px;
		position: relative;
		margin-top: 20px;
		font-family: 'Montserrat';
		font-weight: 700;
		color: #fff;

		&:after {
			content: '';
			height: 5px;
			width: 60px;
			background: white;
			display: block;
			margin: 0 auto;
			margin-top: 1rem;
		}
	}

	ul {
		margin-top: 25px;
		padding-left: 10px;
	}

	li {
		line-height: 20px;
		margin-bottom: 15px;
		position: relative;
		color: #fff;
		font-family: 'HelveticaNeueRoman';
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 2px;
	}
}

.contact-list {
	li {
		line-height: 20px;
		margin-bottom: 15px;
		position: relative;
		color: #676260;
		font-family: 'HelveticaNeueRoman';
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 2px;
	}

	.function {
		color: #676260;
		font-style: italic;
		font-weight: normal;
		font-size: 12px;
		display: block;
	}
}

//.waw-board-bake,
.waw-offices-bake {
	background: #cdd476;
	position: relative;
	padding-bottom: 150px;
	padding-top: 100px;
}

.waw-offices-bake {
	&:before {
		content: '';
		display: block;
		background: #b9b8ab;
		height: 100%;
		position: absolute;
		top: -100px;
		width: 125%;
		transform: rotate(-3deg);
	}

	background: #b9b8ab;
	padding-bottom: 150px;
	position: relative;
}

.waw-factories-bake {
	&:before {
		content: '';
		display: block;
		background: #cdd476;
		height: 100%;
		position: absolute;
		top: -100px;
		width: 125%;
		transform: rotate(-3deg);
	}

	background: #cdd476;
	padding-bottom: 80px;
	position: relative;
}

.waw-sec-icon {
	width: 110px;
}

.no-letter-spacing {
	letter-spacing: 0 !important;
}

.ReactModal__Overlay {
	z-index: 99999;
	background: rgba(0, 0, 0, .75) !important;
}

.ReactModal__Content {
	border-radius: 0 !important;
	padding: 0 !important;

	.gatsby-image-wrapper,
	> .row {
		height: 100% !important;
	}
}

.brand-popup {
	.gatsby-image-wrapper {
		height: 300px;

		@media screen and (min-width: 768px) {
			height: 100%;
		}
	}

	.logo-wrapper img {
		max-height: 200px;
		max-width: 300px;
		width: auto;
		height: auto;
		margin-bottom: 3rem;
	}

	.text-wrapper {
		font-family: "HelveticaNeueRoman";
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 1px;
		color: #414042;
		margin-bottom: 2rem;
	}

	> div:nth-child(2) {
		padding: 5rem 4rem 10rem;

		@media screen and (min-width: 768px) {
			padding: 5rem 4rem;
			align-self: center;
		}
	}

	.button-back {
		width: 75px;
		position: absolute;
		bottom: 2rem;
		right: 4rem;
		height: auto !important;

		@media screen and (min-width: 768px) {
			top: 5rem;
			bottom: auto;
		}
	}

	.image-row-wrapper {
		margin-top: 3rem;
		margin-bottom: 3rem;
		display: flex;
		justify-content: center;

		.image-wrapper {
			flex: 0 0 33.33333%;
			max-width: 33.33333%;
		}
	}

	.link-previous,
	.link-next,
	.link {
		color: #7c8c42;
		font-size: 13px;
		letter-spacing: 2px;
		font-family: 'HelveticaNeueRoman';
	}

	.link-next {
		float: right;
		text-align: right;
	}

	.link-previous,
	.link-next {
		max-width: 50%;
		display: inline-block;
	}
}

.unicode {
	font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji";
}

.temp-header-bake,
.temp-content-main {
	text-align: left;
}

.temp-content-inner {
	padding-top: 100px;
	padding-bottom: 100px;

	h3 {
		color: #7c8c42;
		font-size: 17px;
		font-family: Montserrat;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}
}

.temp-header-bake:before {
	position: absolute;
	content: '';
	width: 220px;
	background-position: top left;
	height: 100%;
	background-repeat: no-repeat;
	z-index: 1;
}

.temp-title {
	padding: 125px 0 90px;
	text-align: center;

	@media screen and (min-width: 768px) {
		padding: 45px 0px 70px;
		text-align: left;
	}
}

.temp-title h1,
.temp-title h2 {
	font-family: Montserrat;
	font-weight: 700;
	color: #fff;
}

.temp-title h2 {
	display: inline;
	position: relative;

	&:before {
		position: absolute;
		content: '';
		width: 70px;
		height: 2px;
		background: #fff;
		left: 5px;
		bottom: -15px;
	}
}

.office-adderess h5 {
	font-family: 'Montserrat';
	font-weight: 700;
	color: #676260;
	font-size: 14px;
	margin-bottom: 5px;
	margin-top: 1rem;
}

.office-adderess p {
	font-family: 'Montserrat';
	color: #676260;
	font-size: 14px;
	line-height: 23px;
}

.office-icon {
	display: flex;
	align-items: center;
	margin-bottom: 30px;

	img {
		width: 75px;
	}

	span {
		font-family: Montserrat;
		font-size: 18px;
		letter-spacing: 2px;
		margin-left: 15px;
		color: #676260;
	}
}

.temp .container {
	position: relative;
	z-index: 1;
}

.city-temp-wrep {
	position: relative;
	overflow-x: hidden !important;
	height: 100%;

	.button {
		background: #cdd476;
		display: inline-block;
		line-height: 50px;
		width: 140px;
		text-align: center;
		color: #fff;
		font-size: 10px;
		font-family: 'Montserrat';
		font-weight: 700;
		letter-spacing: 2px;
		border-radius: 40px;
		position: relative;
		margin: 10px 0;
		text-transform: uppercase;
		line-height: 1.3;
		padding: 10px;
	}

	.link {
		display: block;
		color: #7c8c42;
		font-size: 13px;
		letter-spacing: 2px;
		font-family: 'HelveticaNeueRoman';
		margin: 1.5rem 0;
	}
}

.icon-mail {
	background: url(../images/icon-mail.svg) center center no-repeat;
	display: inline-block;
	width: 60px;
	height: 15px;
}

.button-back {
	position: absolute;
	bottom: 3rem;
	right: 3rem;
}

.row.office-adderess > div {
	margin-bottom: 3rem;
}

.temp-content-inner {
	position: relative;
}

iframe {
	border: none;
}

.mt1rem {
	margin-top: 1rem;
}

.animate-pop-in {
	animation: pop-in 0.4s ease-out forwards;
}

@keyframes pop-in {
	0% {
		opacity: 0;
		transform: translate7(-1.5rem);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

.hidden {
	display: none;
}

.light-gray {
	background: #b9b8ab;
}

.dark-perot {
	background: #cdd476;
	color: #676260 !important;
}

.city-name button {
	display: inline-block;
	line-height: 50px;
	width: 140px;
	text-align: center;
	color: #fff;
	font-size: 10px;
	font-family: 'Montserrat';
	font-weight: 700;
	letter-spacing: 2px;
	border-radius: 40px;
	position: relative;
	margin: 10px 15px;
	text-transform: uppercase;
	line-height: 1.3;
	padding: 10px;

	&:before {
		content: '';
		position: absolute;
		background-repeat: no-repeat;
		background-size: cover;
		width: 22px;
		height: 22px;
		border: 1px solid #fff;
		border-radius: 30px;
		left: -6px;
		top: -5px;
	}
}

.link {
	display: block;
	margin: 1rem 0;
}

.ReactModal__Content {
	overflow-x: hidden !important;
}
